body{
    background-color: rgb(248, 183, 183);
}
h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 15px;
}
.col-sm-5{
    border: 1px solid;
    border-radius: 7px;
    margin: 5px;
    padding: 0;
}
.card{
    background: radial-gradient(circle, rgb(197, 207, 213), rgb(180, 192, 195));
}
.img-circle{
    padding: 5px;
    border-radius: 100px;
}
.tableHead{
    border-bottom: 2px solid;
    margin: 5px;
    font-weight: bold;
}
.elementList{
    border-bottom: 1px solid rgba(0, 0, 0, 50%);
}
