body{
    background-color: rgb(248, 183, 183);
}
h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 15px;
}
.col-sm-5{
    border: 1px solid;
    border-radius: 7px;
    margin: 5px;
    padding: 0;
}
.card{
    background: radial-gradient(circle, rgb(197, 207, 213), rgb(180, 192, 195));
}
.img-circle{
    padding: 5px;
    border-radius: 100px;
}
.tableHead{
    border-bottom: 2px solid;
    margin: 5px;
    font-weight: bold;
    max-width: 1000px;
}
.elementList{
    border-bottom: 1px solid rgba(0, 0, 0, 50%);
    max-width: 1000px;
}
.container {
    text-align: center;
}
#fetchButton{
    border-radius: 10px;
    background-color: rgb(206, 244, 231);
    font-weight: bold;
    display: inline-block;
    padding: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#spinner{
    display: none;
}
.sectionSpiner{
    margin: 15px;
}
